@charset "utf-8";
.material-icons,
.bottom-bar,
.main-box3-0-title i{
  display: none;
}
#head p{
  color: red;
}
#head{
  position: static;
  left: 0;
  right: 0;
  background-color: #090909;
}
#gnav-ul{
max-width: 820px;
min-width: 820px;
}
#gnav-ul li{
  width: 16%;
}
#visual{
  background: url(/i/1920x1200.png) center center no-repeat;
}
#head,
#visual,
#main,
#foot{
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
}
